<div id="rec762507807" class="r t-rec" style="background-color:#efefef; " data-animationappear="off" data-record-type="823" data-bg-color="#efefef">
    <!-- t823 -->
    <div class="t823">
        <div class="t823__container ">
            <table class="t823__wrapper t823__wrapper_mobile" style="height:100vh;" data-height-correct-vh="yes">
                <tbody>
                    <tr>
                        <td class="t823__col t823__col_img t823__col_img_mobile" style="width:50%;">
                            <div class="t823__imgblock t-align_center">
                                <div class="t823__imgwrapper">
                                    <div class="t823__bgimg t-bgimg loaded" bgimgfield="img" data-original="images/tild6338-3934-4361-b137-653565663139____2024-06-12_203305.png" style="background-image: url(&quot;images/tild6338-3934-4361-b137-653565663139____2024-06-12_203305.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
                                        <meta itemprop="image" content="images/tild6338-3934-4361-b137-653565663139____2024-06-12_203305.png">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="t823__col t823__col_form t823__col_form_mobile" style="vertical-align:middle;width:50%;">
                            <div class="t823__main-wrapper">
                                <div class="t823__title t-title t-title_xs " field="title">Sign up for a free lesson with one of our teachers</div>
                                <div class="t823__descr t-descr t-descr_md " field="descr">Meet the group, explore the school, and get a free consultation</div>
                                <div>
                                    <form id="form762507807" name="form762507807" role="form" action="" method="POST" data-formactiontype="0" data-inputbox=".t-input-group" class="t-form js-form-proccess t-form_inputs-total_3 t-form_bbonly" data-success-callback="t823_onSuccess">
                                        <!-- NO ONE SERVICES CONNECTED -->
                                        <div class="js-successbox t-form__successbox t-text t-text_md" aria-live="polite" style="display:none;"></div>
                                        <div class="t-form__inputsbox t-form__inputsbox_vertical-form t-form__inputsbox_inrow">
                                            <div class="t-input-group t-input-group_em " data-input-lid="7993453409500" data-field-type="em">
                                                <div class="t-input-block ">
                                                    <input type="email" autocomplete="email" name="Email" id="input_7993453409500" class="t-input js-tilda-rule t-input_bbonly" value="" placeholder="Your Email" data-tilda-rule="email" aria-describedby="error_7993453409500" style="color:#000000;border:1px solid #b3b3b3;">
                                                    <div class="t-input-error" aria-live="polite" id="error_7993453409500"></div>
                                                </div>
                                            </div>
                                            <div class="t-input-group t-input-group_nm " data-input-lid="7993453409501" data-field-type="nm">
                                                <div class="t-input-block ">
                                                    <input type="text" autocomplete="name" name="Name" id="input_7993453409501" class="t-input js-tilda-rule t-input_bbonly" value="" placeholder="Your Full Name" data-tilda-rule="name" aria-describedby="error_7993453409501" style="color:#000000;border:1px solid #b3b3b3;">
                                                    <div class="t-input-error" aria-live="polite" id="error_7993453409501"></div>
                                                </div>
                                            </div>
                                            <div class="t-input-group t-input-group_ph " data-input-lid="7993453409502" data-field-type="ph">
                                                <div class="t-input-block ">
                                                    <input type="tel" autocomplete="tel" name="Phone" id="input_7993453409502" class="t-input js-tilda-rule t-input_bbonly" value="" placeholder="Your Phone" data-tilda-rule="phone" pattern="[0-9]*" aria-describedby="error_7993453409502" style="color:#000000;border:1px solid #b3b3b3;">
                                                    <div class="t-input-error" aria-live="polite" id="error_7993453409502"></div>
                                                </div>
                                            </div>
                                            <div class="t-form__errorbox-middle">
                                                <!--noindex-->
                                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;" data-nosnippet="" tabindex="-1" aria-label="Ошибки при заполнении формы">
                                                    <ul role="list" class="t-form__errorbox-text t-text t-text_md">
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-all"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-req"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-email"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-name"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-phone"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></li>
                                                        <li class="t-form__errorbox-item js-rule-error js-rule-error-string"></li>
                                                    </ul>
                                                </div>
                                                <!--/noindex-->
                                            </div>
                                            <div class="t-form__submit">
                                                <button type="submit" class="t-submit" style="color:#ffffff;background-color:#1f5bff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;" data-field="buttontitle" data-buttonfieldset="button">Sign up </button>
                                            </div>
                                        </div>
                                        <div class="t-form__errorbox-bottom">
                                            <!--noindex-->
                                            <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;" data-nosnippet="" tabindex="-1" aria-label="Ошибки при заполнении формы">
                                                <ul role="list" class="t-form__errorbox-text t-text t-text_md">
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-all"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-req"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-email"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-name"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-phone"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></li>
                                                    <li class="t-form__errorbox-item js-rule-error js-rule-error-string"></li>
                                                </ul>
                                            </div>
                                            <!--/noindex-->
                                        </div>
                                        <div style="position: absolute; left: -5000px; bottom: 0; display: none;">
                                            <input type="text" name="form-spec-comments" value="Its good" class="js-form-spec-comments" tabindex="-1">
                                        </div>
                                    </form>
                                    <style>
                                        #rec762507807 input::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 input::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 input:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 input:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 textarea::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 textarea::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 textarea:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec762507807 textarea:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }
                                    </style>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>