@{
    ViewData["Title"] = "Главная страница";
}

<div id="rec761393657" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off" data-record-type="207">
  <!-- cover -->
  <div class="t-cover" id="recorddiv761393657" bgimgfield="img" style="background-image: -webkit-linear-gradient(top, rgb(204, 204, 204), rgb(119, 119, 119)); height: 953px;">
    <div class="t-cover__carrier loading" id="coverCarry761393657" data-content-cover-id="761393657" data-content-cover-bg="" data-display-changed="true" data-content-cover-height="100vh" data-content-cover-parallax="fixed" style="height: 953px;" itemscope="" itemtype="http://schema.org/ImageObject" src="" data-content-cover-updated-height="953px">
      <meta itemprop="image" content="">
    </div>
    <div class="t-cover__filter" style="height: 953px; background-image: -webkit-linear-gradient(top, rgba(251, 251, 174, 0.9), rgb(242, 228, 123));"></div>
    <div class="t184">
      <div class="t-container t-align_center">
        <div class="t-col t-col_12 ">
          <div class="t-cover__wrapper t-valign_middle" style="height: 953px;">
            <div data-hook-content="covercontent">
              <div class="t184__title t-title t-title_xxl" field="title"><span style="font-family: Arial;">Spark In You</span></div>
              <div class="t184__descr t-descr" style="right:0;" field="descr">Non-profit organisation </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="rec762273638" class="r t-rec t-rec_pt_180 t-rec_pb_180" style="padding-top:180px;padding-bottom:180px;background-color:#ffffaa; " data-record-type="469" data-bg-color="#ffffaa" data-animationappear="off">
  <!-- t469 -->
  <div class="t469">
    <div class="t-container t-align_center">
      <div class="t-col t-col_8 t-prefix_2">
        <div class="t469__title t-title t-title_lg t-margin_auto" field="title">О проекте</div>
        <div class="t469__line t-margin_auto" style=" "></div>
        <div class="t469__descr t-descr t-descr_md t-margin_auto" field="descr">Данный проект был подготовлен пятью девочками со всего Казахстана, с целью </div>
      </div>
    </div>
  </div>
</div>

<div id="rec761368616" class="r t-rec t-rec_pt_195 t-rec_pb_135" style="padding-top:195px;padding-bottom:135px;background-color:#fbfbc4; " data-animationappear="off" data-record-type="842" data-bg-color="#fbfbc4">
  <!-- t842 -->
  <div class="t842">
    <div class="t-section__container t-container t-container_flex">
      <div class="t-col t-col_12 ">
        <div class="t-section__title t-title t-title_xs t-align_center t-margin_auto" field="btitle">Новости</div>
        <div class="t-section__descr t-descr t-descr_xl t-align_center t-margin_auto" field="bdescr">Актуальные новости, касающиеся </div>
      </div>
    </div>
    <style>
      .t-section__descr {
        max-width: 560px;
      }
      
      #rec761368616 .t-section__title {
        margin-bottom: 40px;
      }
      
      #rec761368616 .t-section__descr {
        margin-bottom: 90px;
      }
    </style>
    <div class="t842__container t-card__container t-container">
      <div class="t842__col t-item t-card__col t-col t-col_6 t842__col_first" style="cursor: pointer;">
        <div class="t842__inner-col" style="background-color: rgb(255, 255, 255); height: 508px;">
          <div class="t842__wrap">
            <div class="t842__wrap_left"></div>
            <div class="t842__wrap_right">
              <div class="t-card__title t-name t-name_lg t842__bottommargin" field="li_title__1531126556801"><a href="https://www.undp.org/kazakhstan/press-releases/achieve-2030-agenda-kazakhstan-has-approved-action-plan-2024" class="t-card__link" id="cardtitle1_761368616" aria-labelledby="cardtitle1_761368616 cardbtn1_761368616">План действий Казахстана по достижению Целей устойчивого развития (ЦУР) на 2024 год</a></div>
              <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531126556801">В январе 2024 года Казахстан утвердил комплексный план действий по продвижению Повестки дня ООН в области устойчивого развития на период до 2030 года. В плане сделан акцент на улучшении качества жизни граждан путем внедрения международных стандартов. Основные направления включают обновление национальных индикаторов ЦУР и их локализацию в различных регионах. Европейский союз также поддерживает переход Казахстана к 2060 году к экономике с нулевым выбросом углекислого газа. В этом году начнется реализация инициатив в области энергетики, водных ресурсов и изменения климата</div>
              <div class="t842__btn-container t842__btn-container_topmargin">
                <div class="t-card__btntext-wrapper">
                  <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn1_761368616" data-field="li_buttontitle__1531126556801" style="color:#00a3ff;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1531126556801">Подробнее</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t842__col t-item t-card__col t-col t-col_6 " style="cursor: pointer;">
        <div class="t842__inner-col" style="background-color: rgb(255, 255, 255); height: 508px;">
          <div class="t842__wrap">
            <div class="t842__wrap_left"></div>
            <div class="t842__wrap_right">
              <div class="t-card__title t-name t-name_lg t842__bottommargin" field="li_title__1606827876405"><a href="https://astanatimes.com/2024/01/kazakhstan-takes-center-stage-in-global-leadership-in-2024/" class="t-card__link" id="cardtitle2_761368616" aria-labelledby="cardtitle2_761368616 cardbtn2_761368616">Астанинский международный форум 2024</a></div>
              <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1606827876405">В Астане пройдут Астанинский международный форум, Саммит "Единая вода" и Центральноазиатский форум по безопасности и сотрудничеству. Эти мероприятия будут способствовать развитию международного диалога и сотрудничества, укрепляя роль Казахстана в региональном и глобальном лидерстве. Форумы направлены на решение таких вопросов, как региональная безопасность, управление водными ресурсами и устойчивое развитие</div>
              <div class="t842__btn-container t842__btn-container_topmargin">
                <div class="t-card__btntext-wrapper">
                  <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn2_761368616" data-field="li_buttontitle__1606827876405" style="color:#00a3ff;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1606827876405">Подробнее</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t842__separator" style=""></div>
      <div class="t842__col t-item t-card__col t-col t-col_6 " style="cursor: pointer;">
        <div class="t842__inner-col" style="background-color: rgb(255, 255, 255); height: 407px;">
          <div class="t842__wrap">
            <div class="t842__wrap_left"></div>
            <div class="t842__wrap_right">
              <div class="t-card__title t-name t-name_lg t842__bottommargin" field="li_title__1606827877993"><a href="https://astanatimes.com/2023/12/kazakhstan-wraps-up-2023-to-foster-economic-and-social-progress/" class="t-card__link" id="cardtitle3_761368616" aria-labelledby="cardtitle3_761368616 cardbtn3_761368616">Бесплатные программы обучения для трудоустройства молодежи</a></div>
              <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1606827877993">Правительство Казахстана запустило ряд бесплатных программ обучения, направленных на повышение занятости молодежи. Эти программы направлены на обучение молодых людей различным профессиям и цифровым технологиям с целью снижения уровня безработицы и поддержки экономического роста. Такие инициативы имеют решающее значение для обеспечения лучших возможностей трудоустройства и содействия социальной интеграции</div>
              <div class="t842__btn-container t842__btn-container_topmargin">
                <div class="t-card__btntext-wrapper">
                  <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn3_761368616" data-field="li_buttontitle__1606827877993" style="color:#00a3ff;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1606827877993">Подробнее</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t842__col t-item t-card__col t-col t-col_6 " style="cursor: pointer;">
        <div class="t842__inner-col" style="background-color: rgb(255, 255, 255); height: 407px;">
          <div class="t842__wrap">
            <div class="t842__wrap_left"></div>
            <div class="t842__wrap_right">
              <div class="t-card__title t-name t-name_lg t842__bottommargin" field="li_title__1531126579031"><a href="https://www.worldbank.org/en/news/opinion/2024/03/27/challenges-and-changes-kazakhstan-through-eyes-of-world-bank" class="t-card__link" id="cardtitle4_761368616" aria-labelledby="cardtitle4_761368616 cardbtn4_761368616">Усилия Казахстана по борьбе с домашним насилием</a></div>
              <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531126579031">Недавно в Казахстане был принят новый закон, направленный на усиление мер по борьбе с домашним насилием. Закон включает в себя положения об улучшении защиты жертв, ужесточении наказаний для правонарушителей и создании центров поддержки. Это изменение законодательства - значительный шаг к обеспечению безопасности и прав лиц, пострадавших от домашнего насилия</div>
              <div class="t842__btn-container t842__btn-container_topmargin">
                <div class="t-card__btntext-wrapper">
                  <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn4_761368616" data-field="li_buttontitle__1531126579031" style="color:#00a3ff;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1531126579031">Подробнее</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t842__separator" style=""></div>
    </div>
  </div>
  <script type="text/javascript">
    t_onReady(function() {
      t_onFuncLoad('t842_init', function() {
        t842_init('761368616');
      });
    });
  </script>
</div>

<div id="rec761368614" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px;background-color:#ffffff; " data-animationappear="off" data-record-type="686" data-bg-color="#ffffff">
  <!-- t686 -->
  <div class="t686" data-tile-ratio="0.55555555555556">
    <div class="t686__container t-card__container t-container" data-columns-in-row="3">
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild3339-6465-4438-a664-386135383761__photo.png" bgimgfield="li_img__1495461413977" style="background-image: url(&quot;images/tild3339-6465-4438-a664-386135383761__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild3339-6465-4438-a664-386135383761__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1495461413977">бла бла бла</div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild3636-3661-4261-b963-633137393833__photo.png" bgimgfield="li_img__1606828307443" style="background-image: url(&quot;images/tild3636-3661-4261-b963-633137393833__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild3636-3661-4261-b963-633137393833__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1606828307443">бла бла бла</div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild6433-6338-4961-b534-336263393366__photo.png" bgimgfield="li_img__1495528759247" style="background-image: url(&quot;images/tild6433-6338-4961-b534-336263393366__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild6433-6338-4961-b534-336263393366__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1495528759247">бла бла бла
                    <br>
                    <br>
                  </div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    t_onReady(function() {
      t_onFuncLoad('t686_init', function() {
        t686_init('761368614');
      });
    });
  </script>
</div>

<div id="rec761368614" class="r t-rec t-rec_pt_45 t-rec_pb_45" style="padding-top:45px;padding-bottom:45px;background-color:#ffffff; " data-animationappear="off" data-record-type="686" data-bg-color="#ffffff">
  <!-- t686 -->
  <div class="t686" data-tile-ratio="0.55555555555556">
    <div class="t686__container t-card__container t-container" data-columns-in-row="3">
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild3339-6465-4438-a664-386135383761__photo.png" bgimgfield="li_img__1495461413977" style="background-image: url(&quot;images/tild3339-6465-4438-a664-386135383761__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild3339-6465-4438-a664-386135383761__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1495461413977">бла бла бла</div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild3636-3661-4261-b963-633137393833__photo.png" bgimgfield="li_img__1606828307443" style="background-image: url(&quot;images/tild3636-3661-4261-b963-633137393833__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild3636-3661-4261-b963-633137393833__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1606828307443">бла бла бла</div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="t-card__col t-card__col_withoutbtn t-col t-col_4 t-align_left ">
        <div class="t686__table" style="height: 166.667px; min-height: auto;">
          <div class="t686__cell t-align_left t-valign_top t686__button-bottom">
            <div class="t686__bg t686__animation_fast t-bgimg loaded" data-original="images/tild6433-6338-4961-b534-336263393366__photo.png" bgimgfield="li_img__1495528759247" style="background-image: url(&quot;images/tild6433-6338-4961-b534-336263393366__photo.png&quot;);" itemscope="" itemtype="http://schema.org/ImageObject" src="">
              <meta itemprop="image" content="images/tild6433-6338-4961-b534-336263393366__photo.png"> </div>
            <div class="t686__overlay t686__animation_fast" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));"></div>
            <div class="t686__textwrapper t686__animation_fast t686__textwrapper_animated">
              <div class="t686__textwrapper__content">
                <div class="t686__inner-wrapper">
                  <div class="t-card__title t-name t-name_xl" field="li_title__1495528759247">бла бла бла
                    <br>
                    <br>
                  </div>
                  <style>
                    #rec761368614 .t-card__title {
                      font-size: 24px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    t_onReady(function() {
      t_onFuncLoad('t686_init', function() {
        t686_init('761368614');
      });
    });
  </script>
</div>
